/**{
    color:red;
} 
.parableu
{
    color :blue;
}
#parared{
    color :red;
}
h1,h2{
    color :#FF6600
}*/
.bleu{
    color:blue;
}
p.vert
{
    color:green;
}
.vt{
    color:green;
}
.bord{
    border:1px solid green

}